<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.CustomerContactMapper">

    <resultMap type="CustomerContact" id="CustomerContactResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="email"    column="email"    />
        <result property="socialPlatform"    column="social_platform"    />
        <result property="phone"    column="phone"    />
        <result property="rank"    column="rank"    />
        <result property="position"    column="position"    />
        <result property="birthday"    column="birthday"    />
        <result property="sex"    column="sex"    />
        <result property="avatarOrBusinessCard"    column="avatar_or_business_card"    />
        <result property="contactRemarks"    column="contact_remarks"    />
        <result property="primaryContactFlag"    column="primary_contact_flag"    />
        <result property="orderIndex"    column="order_index"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerContactVo">
        select id, customer_id, nick_name, email, social_platform, phone, rank, position, birthday, sex, avatar_or_business_card, contact_remarks, primary_contact_flag, order_index, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from customer_customer_contact
    </sql>

    <select id="selectCustomerContactList" parameterType="CustomerContact" resultMap="CustomerContactResult">
        <include refid="selectCustomerContactVo"/>
        <where>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="socialPlatform != null  and socialPlatform != ''"> and social_platform = #{socialPlatform}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="rank != null "> and rank = #{rank}</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="avatarOrBusinessCard != null  and avatarOrBusinessCard != ''"> and avatar_or_business_card = #{avatarOrBusinessCard}</if>
            <if test="contactRemarks != null  and contactRemarks != ''"> and contact_remarks = #{contactRemarks}</if>
            <if test="primaryContactFlag != null "> and primary_contact_flag = #{primaryContactFlag}</if>
            <if test="orderIndex != null "> and order_index = #{orderIndex}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="selectCustomerContactById" parameterType="Long" resultMap="CustomerContactResult">
        <include refid="selectCustomerContactVo"/>
        where id = #{id}
    </select>
    <select id="selectCustomerMainContactByCustomerIds"
            resultType="com.ruoyi.customer.domain.bo.CustomerContactBO">
        SELECT
        ranked.id,
        ranked.customerId,
        ranked.nickName,
        ranked.socialPlatform,
        ranked.birthday
        FROM (
        SELECT
        ccc.id,
        ccc.customer_id AS customerId,
        ccc.nick_name AS nickName,
        ccc.social_platform AS socialPlatform,
        ccc.birthday,
        @row_number := CASE WHEN @current_customer_id = ccc.customer_id THEN @row_number + 1 ELSE 1 END AS row_num,
        @current_customer_id := ccc.customer_id
        FROM
        customer_customer_contact ccc
        CROSS JOIN (SELECT @row_number := 0, @current_customer_id := NULL) AS vars
        WHERE
        ccc.del_flag = '0'
        AND ccc.primary_contact_flag = '1'
        AND ccc.customer_id IN
        <foreach item="customerId" collection="customerIds" open="(" separator="," close=")">
            #{customerId}
        </foreach>
        ORDER BY ccc.customer_id, ccc.create_time DESC
        ) AS ranked
        WHERE
        row_num = 1;
    </select>

    <select id="selectCustomerContactByCustomerId" resultType="com.ruoyi.customer.domain.bo.CustomerContactBO">
        SELECT
            ccc.id,
            ccc.customer_id AS customerId,
            ccc.nick_name AS nickName,
            ccc.email AS email,
            ccc.social_platform AS socialPlatform,
            ccc.phone,
            ccc.rank,
            ccc.position,
            ccc.birthday,
            ccc.sex,
            ccc.avatar_or_business_card AS avatarOrBusinessCard,
            ccc.contact_remarks AS contactRemarks,
            ccc.primary_contact_flag AS primaryContactFlag
        FROM
            customer_customer_contact ccc
        WHERE
            ccc.del_flag = '0'
            AND ccc.customer_id = #{customerId}
    </select>


    <insert id="insertCustomerContact" parameterType="CustomerContact">
        insert into customer_customer_contact
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="email != null">email,</if>
            <if test="socialPlatform != null">social_platform,</if>
            <if test="phone != null">phone,</if>
            <if test="rank != null">rank,</if>
            <if test="position != null">position,</if>
            <if test="birthday != null">birthday,</if>
            <if test="sex != null">sex,</if>
            <if test="avatarOrBusinessCard != null">avatar_or_business_card,</if>
            <if test="contactRemarks != null">contact_remarks,</if>
            <if test="primaryContactFlag != null">primary_contact_flag,</if>
            <if test="orderIndex != null">order_index,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="email != null">#{email},</if>
            <if test="socialPlatform != null">#{socialPlatform},</if>
            <if test="phone != null">#{phone},</if>
            <if test="rank != null">#{rank},</if>
            <if test="position != null">#{position},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="sex != null">#{sex},</if>
            <if test="avatarOrBusinessCard != null">#{avatarOrBusinessCard},</if>
            <if test="contactRemarks != null">#{contactRemarks},</if>
            <if test="primaryContactFlag != null">#{primaryContactFlag},</if>
            <if test="orderIndex != null">#{orderIndex},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertCustomerContact">
        insert into customer_customer_contact
        (id, customer_id, nick_name, email, social_platform, phone, rank, position, birthday, sex, avatar_or_business_card, contact_remarks, primary_contact_flag, order_index, del_flag, create_id, create_by, create_time, update_id, update_by, update_time)
        values
        <foreach collection="detailsContactList" item="item" separator=",">
            (#{item.id}, #{item.customerId}, #{item.nickName}, #{item.email}, #{item.socialPlatform}, #{item.phone}, #{item.rank}, #{item.position}, #{item.birthday}, #{item.sex}, #{item.avatarOrBusinessCard}, #{item.contactRemarks}, #{item.primaryContactFlag}, #{item.orderIndex}, #{item.delFlag}, #{item.createId}, #{item.createBy}, #{item.createTime}, #{item.updateId}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="updateCustomerContact" parameterType="CustomerContact">
        update customer_customer_contact
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="socialPlatform != null">social_platform = #{socialPlatform},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="rank != null">rank = #{rank},</if>
            <if test="position != null">position = #{position},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatarOrBusinessCard != null">avatar_or_business_card = #{avatarOrBusinessCard},</if>
            <if test="contactRemarks != null">contact_remarks = #{contactRemarks},</if>
            <if test="primaryContactFlag != null">primary_contact_flag = #{primaryContactFlag},</if>
            <if test="orderIndex != null">order_index = #{orderIndex},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerContactById" parameterType="Long">
        delete from customer_customer_contact where id = #{id}
    </delete>

    <delete id="deleteCustomerContactByIds" parameterType="String">
        delete from customer_customer_contact where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="deleteCustomerContactByCustomerId">
        update customer_customer_contact set del_flag = '2', update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where customer_id = #{customerId}
    </update>
</mapper>