<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.CustomerDocumentMapper">
    <resultMap type="CustomerDocument" id="CustomerDocumentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="path"    column="path"    />
        <result property="extension"    column="extension"    />
        <result property="size"    column="size"    />
        <result property="type"    column="type"    />
        <result property="customerId"    column="customer_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerDocumentVo">
        select id, name, path, extension, size, type, customer_id, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from customer_customer_document
    </sql>

    <select id="selectCustomerDocumentList" parameterType="CustomerDocument" resultMap="CustomerDocumentResult">
        <include refid="selectCustomerDocumentVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="extension != null  and extension != ''"> and extension = #{extension}</if>
            <if test="size != null "> and size = #{size}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="list" resultType="com.ruoyi.customer.domain.vo.CustomerDocumentListVO">
        select cd.id, cd.name, cd.path, cd.extension, cd.size, cd.type, cd.create_id as createId, u.nick_name as createBy, cd.create_time as createTime from customer_customer_document cd
        left join sys_user u on cd.create_id = u.user_id and u.del_flag = '0'
        where cd.del_flag = '0'
        <if test="customerDocumentListDTO.name != null">
            and cd.name like concat('%', #{customerDocumentListDTO.name}, '%')
        </if>
        <if test="customerDocumentListDTO.type != null">
            and cd.type = #{customerDocumentListDTO.type}
        </if>
        <if test="customerDocumentListDTO.startTime != null and customerDocumentListDTO.endTime != null">
            and cd.createTime between #{customerDocumentListDTO.startTime}, #{customerDocumentListDTO.endTime}
        </if>
    </select>

    <select id="selectCustomerDocumentById" parameterType="Long" resultMap="CustomerDocumentResult">
        <include refid="selectCustomerDocumentVo"/>
        where id = #{id}
        and del_flag = '0'
    </select>

    <insert id="insertCustomerDocument" parameterType="CustomerDocument">
        insert into customer_customer_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="extension != null and extension != ''">extension,</if>
            <if test="size != null">size,</if>
            <if test="type != null">type,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="extension != null and extension != ''">#{extension},</if>
            <if test="size != null">#{size},</if>
            <if test="type != null">#{type},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertCustomerDocument">
        insert into customer_customer_document(id, name, path, extension, size, type, customer_id, del_flag, create_id, create_by, create_time, update_id, update_by, update_time)
        values
        <foreach collection="customerDocumentList" item="item" index="index" separator=",">
            (#{item.id}, #{item.name}, #{item.path}, #{item.extension}, #{item.size}, #{item.type}, #{item.customerId}, #{item.delFlag}, #{item.createId}, #{item.createBy}, #{item.createTime}, #{item.updateId}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="updateCustomerDocument" parameterType="CustomerDocument">
        update customer_customer_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="extension != null and extension != ''">extension = #{extension},</if>
            <if test="size != null">size = #{size},</if>
            <if test="type != null">type = #{type},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerDocumentById" parameterType="Long">
        update customer_customer_document set del_flag = '2', update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id}
    </delete>

    <delete id="deleteCustomerDocumentByIds" parameterType="String">
        delete from customer_customer_document where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>