<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.CustomerMapper">

    <resultMap type="Customer" id="CustomerResult">
        <result property="id"    column="id"    />
        <result property="companyWebsite"    column="company_website"    />
        <result property="companyName"    column="company_name"    />
        <result property="shortName"    column="short_name"    />
        <result property="countryRegion"    column="country_region"    />
        <result property="seaType"    column="sea_type"    />
        <result property="publicleadsGroupsId"    column="publicleads_groups_id"    />
        <result property="packetId"    column="packet_id"    />
        <result property="stageId"    column="stage_id"    />
        <result property="rating"    column="rating"    />
        <result property="customerNoType"    column="customer_no_type"    />
        <result property="customerNo"    column="customer_no"    />
        <result property="phonePrefix"    column="phone_prefix"    />
        <result property="phone"    column="phone"    />
        <result property="timezone"    column="timezone"    />
        <result property="scale"    column="scale"    />
        <result property="fax"    column="fax"    />
        <result property="address"    column="address"    />
        <result property="companyRemarks"    column="company_remarks"    />
        <result property="companyLogo"    column="company_logo"    />
        <result property="focusFlag"    column="focus_flag"    />
        <result property="lastContactedAt"    column="last_contacted_at"    />
        <result property="lastFollowupAt"    column="last_followup_at"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerVo">
        select id, company_website, company_name, short_name, country_region, sea_type, publicleads_groups_id, packet_id, stage_id, rating, customer_no_type, customer_no, phone_prefix, phone, timezone, scale, fax, address, company_remarks, company_logo, focus_flag, last_contacted_at, last_followup_at, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from customer_customer
    </sql>

    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>
            <if test="companyWebsite != null  and companyWebsite != ''"> and company_website = #{companyWebsite}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="shortName != null  and shortName != ''"> and short_name like concat('%', #{shortName}, '%')</if>
            <if test="countryRegion != null  and countryRegion != ''"> and country_region = #{countryRegion}</if>
            <if test="seaType != null "> and sea_type = #{seaType}</if>
            <if test="publicleadsGroupsId != null "> and publicleads_groups_id = #{publicleadsGroupsId}</if>
            <if test="packetId != null "> and packet_id = #{packetId}</if>
            <if test="stageId != null "> and stage_id = #{stageId}</if>
            <if test="rating != null "> and rating = #{rating}</if>
            <if test="customerNoType != null "> and customer_no_type = #{customerNoType}</if>
            <if test="customerNo != null  and customerNo != ''"> and customer_no = #{customerNo}</if>
            <if test="phonePrefix != null  and phonePrefix != ''"> and phone_prefix = #{phonePrefix}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="timezone != null  and timezone != ''"> and timezone = #{timezone}</if>
            <if test="scale != null "> and scale = #{scale}</if>
            <if test="fax != null  and fax != ''"> and fax = #{fax}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="companyRemarks != null  and companyRemarks != ''"> and company_remarks = #{companyRemarks}</if>
            <if test="companyLogo != null  and companyLogo != ''"> and company_logo = #{companyLogo}</if>
            <if test="focusFlag != null "> and focus_flag = #{focusFlag}</if>
            <if test="lastContactedAt != null "> and last_contacted_at = #{lastContactedAt}</if>
            <if test="lastFollowupAt != null "> and last_followup_at = #{lastFollowupAt}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="selectCustomerById" parameterType="Long" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectCustomerDetailById" parameterType="Long" resultMap="CustomerResult">
        select id, company_website, company_name, short_name, country_region, sea_type, publicleads_groups_id, packet_id, stage_id, rating, customer_no_type, customer_no, phone_prefix, phone, timezone, scale, fax, address, company_remarks, company_logo, focus_flag, last_contacted_at, last_followup_at, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from customer_customer
            left join sys_user
        where id = #{id} and del_flag = '0'
    </select>

    <select id="countPrivateleadsCustomer" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT (c.id))
        FROM customer_customer c
        LEFT JOIN customer_customer_segment cs ON c.id = cs.customer_id
        LEFT JOIN customer_customer_follow_up_personnel fup ON c.id = fup.customer_id AND fup.del_flag = '0'
        WHERE
            c.sea_type = 1
          AND c.del_flag = '0'
          AND fup.user_id in
            <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
          AND (
            #{segmentId} = -2 OR
            (#{segmentId} = -1 AND c.focus_flag = 1) OR
            (#{segmentId} > 0 AND cs.segment_id = #{segmentId})
          )
    </select>

    <select id="selectPrivateleadsCustomerPage"
            resultType="com.ruoyi.customer.domain.vo.PrivateleadsCustomerSimpleListVO">
        SELECT
            customer.id,
            customer.company_name as companyName,
            (SELECT GROUP_CONCAT( CONCAT(t.id, '_', t.name, '_', t.color) ) FROM customer_customer_tag ct LEFT JOIN customer_tag t ON ct.tag_id = t.id WHERE ct.customer_id = customer.id AND t.del_flag = '0') AS tagStr,
            customer.packet_id as packetId,
            packet.name as packetName,
            stage.id as stageId,
            stage.name as stageName,
            (select nick_name from customer_customer_contact contact where contact.customer_id = customer.id and contact.del_flag = '0' and contact.primary_contact_flag = 1 order by contact.create_time desc limit 1) as primaryContact,
            customer.last_contacted_at as lastContactedAt,
            customer.country_region as countryRegion,
            customer.create_time as createTime,
            customer.customer_no as customerNo,
            customer.short_name as shortName,
            customer.focus_flag as focusFlag
        FROM
            customer_customer customer
            LEFT JOIN customer_packet packet ON customer.packet_id = packet.id AND packet.del_flag = '0'
            LEFT JOIN customer_stage stage ON customer.stage_id = stage.id AND stage.del_flag = '0'
            LEFT JOIN customer_customer_segment customerSegment ON customer.id = customerSegment.customer_id
            LEFT JOIN customer_customer_follow_up_personnel fup ON customer.id = fup.customer_id AND fup.del_flag = '0'
        WHERE
            customer.sea_type = 1
            AND customer.del_flag = '0'
            AND fup.user_id IN
            <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
            AND (
              #{segmentId} = -2 OR
              (#{segmentId} = -1 AND customer.focus_flag = 1) OR
              (#{segmentId} > 0 AND customerSegment.segment_id = #{segmentId})
            )
        GROUP BY customer.id
        ORDER BY customer.create_time DESC
            LIMIT #{offset}, #{limit}
    </select>

    <select id="countPublicleadsCustomer" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM customer_customer customer
        WHERE
          customer.sea_type = 2
          AND customer.del_flag = '0'
          <if test="publicleadsGroupsId != null">
            AND customer.publicleads_groups_id = #{publicleadsGroupsId}
          </if>
          <if test="packetId != null">
            AND customer.packet_id = #{packetId}
          </if>
    </select>

    <select id="selectPublicleadsCustomerPage"
            resultType="com.ruoyi.customer.domain.vo.PublicleadsCustomerSimpleListVO">
        SELECT
            customer.id,
            customer.company_name as companyName,
            customer.short_name as shortName,
            (SELECT GROUP_CONCAT( CONCAT(t.id, '_', t.name) ) FROM customer_customer_tag ct LEFT JOIN customer_tag t ON ct.tag_id = t.id WHERE ct.customer_id = customer.id AND t.del_flag = '0') AS tagStr,
            customer.packet_id as packetId,
            packet.name as packetName,
            stage.id as stageId,
            stage.name as stageName,
            (select concat(u.nick_name) from customer_customer_follow_up_personnel fup left join sys_user u on fup.user_id = u.user_id where fup.customer_id = customer.id and fup.del_flag = '0' order by fup.create_time desc) as followUpPersonnel,
            customer.country_region as countryRegion,
            customer.last_contacted_at as lastContactedAt,
            customer.timezone as timezone,
            customer.focus_flag as focusFlag
        FROM
            customer_customer customer
            LEFT JOIN customer_packet packet ON customer.packet_id = packet.id AND packet.del_flag = '0'
            LEFT JOIN customer_stage stage ON customer.stage_id = stage.id AND stage.del_flag = '0'
        WHERE
            customer.sea_type = 2
            AND customer.del_flag = '0'
            <if test="publicleadsGroupsId != null">
                AND customer.publicleads_groups_id = #{publicleadsGroupsId}
            </if>
            <if test="packetId != null">
                AND customer.packet_id = #{packetId}
            </if>
        GROUP BY customer.id
        ORDER BY customer.create_time DESC
            LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCustomerIdList" resultType="java.lang.Long">
        select id from customer_customer where del_flag = '0' and sea_type = 1
    </select>

    <select id="getDeptIdByUserId" resultType="java.lang.Long">
        select dept_id as deptId from sys_user where user_id = #{userId} and del_flag = '0'
    </select>

    <select id="selectPrivateleadsNumByUserId" resultType="java.lang.Integer">
        select count(distinct (c.id)) from customer_customer c
        left join customer_customer_follow_up_personnel fup on c.id = fup.customer_id and fup.del_flag = '0'
        where c.del_flag = '0' and c.sea_type = 1 and fup.user_id = #{userId}
    </select>

    <select id="countCustomerDuplicate" resultType="java.lang.Integer">
        select count(distinct(cc.id)) from customer_customer cc
        left join customer_customer_contact ccc on cc.id = ccc.customer_id and ccc.del_flag = '0'
        where cc.del_flag = '0'
        <if test="columnName == 'all'">
            and (cc.company_name like CONCAT('%', #{searchText}, '%') or cc.short_name like CONCAT('%', #{searchText}, '%') or cc.customer_no = #{searchText} or ccc.email like concat('%', #{searchText}) or ccc.nick_name = #{searchText} or ccc.phone like concat('%', #{searchText}, '%') or ccc.social_platform like concat('%', #{searchText}, '%'))
        </if>
        <if test="columnName == 'company_name'">
            and (cc.company_name like CONCAT('%', #{searchText}, '%') or cc.short_name like CONCAT('%', #{searchText}, '%'))
        </if>
        <if test="columnName == 'customer_no'">
            and cc.customer_no = #{searchText}
        </if>
        <if test="columnName == 'email'">
            and ccc.email = #{searchText}
        </if>
        <if test="columnName == 'email_suffix'">
            and ccc.email like concat('%', #{searchText})
        </if>
        <if test="columnName == 'contact_name'">
            and ccc.nick_name = #{searchText}
        </if>
        <if test="columnName == 'phone_number'">
            and ccc.phone like CONCAT('%', #{searchText}, '%')
        </if>
        <if test="columnName == 'social_media_account'">
            and ccc.social_platform like CONCAT('%', #{searchText}, '%')
        </if>
    </select>

    <select id="customerDuplicateList" resultType="com.ruoyi.customer.domain.vo.CustomerDuplicateListVO">
        SELECT
        cc.id,
        cc.customer_no AS customerNo,
        cc.company_name AS companyName,
        cc.short_name AS shortName,
        cc.country_region AS countryRegion,
        cc.create_time AS createTime,
        cs.name as customerStageName,
        ccc.nick_name AS contactNickName,
        ccc.email AS customerEmail,
        ccc.phone AS customerPhone,
        ccc.social_platform AS contactSocialPlatform,
        GROUP_CONCAT(cs2.name) AS customerSourceName
        FROM
        customer_customer cc
        LEFT JOIN
        customer_customer_contact ccc ON cc.id = ccc.customer_id AND ccc.del_flag = '0'
        LEFT JOIN
        customer_stage cs ON cc.stage_id = cs.id AND cs.del_flag = '0'
        LEFT JOIN
        customer_customer_source ccs ON cc.id = ccs.customer_id
        LEFT JOIN
        customer_source cs2 ON ccs.source_id = cs2.id AND cs2.del_flag = '0'
        WHERE
        cc.del_flag = '0'
        <if test="columnName == 'all'">
            AND (cc.company_name LIKE CONCAT('%', #{searchText}, '%') OR cc.short_name LIKE CONCAT('%', #{searchText}, '%') OR cc.customer_no = #{searchText} OR ccc.email LIKE CONCAT('%', #{searchText}, '%') OR ccc.nick_name = #{searchText} OR ccc.phone LIKE CONCAT('%', #{searchText}, '%') OR ccc.social_platform LIKE CONCAT('%', #{searchText}, '%'))
        </if>
        <if test="columnName == 'company_name'">
            AND (cc.company_name LIKE CONCAT('%', #{searchText}, '%') OR cc.short_name LIKE CONCAT('%', #{searchText}, '%'))
        </if>
        <if test="columnName == 'customer_no'">
            AND cc.customer_no = #{searchText}
        </if>
        <if test="columnName == 'email'">
            AND ccc.email = #{searchText}
        </if>
        <if test="columnName == 'email_suffix'">
            AND ccc.email LIKE CONCAT('%', #{searchText}, '%')
        </if>
        <if test="columnName == 'contact_name'">
            AND ccc.nick_name = #{searchText}
        </if>
        <if test="columnName == 'phone_number'">
            AND ccc.phone LIKE CONCAT('%', #{searchText}, '%')
        </if>
        <if test="columnName == 'social_media_account'">
            AND ccc.social_platform LIKE CONCAT('%', #{searchText}, '%')
        </if>
        AND ccc.id = (
        SELECT ccc_sub.id
        FROM customer_customer_contact ccc_sub
        WHERE ccc_sub.customer_id = cc.id AND ccc_sub.del_flag = '0'
        ORDER BY ccc_sub.create_time DESC
        LIMIT 1
        )
        GROUP BY cc.id
        ORDER BY cc.create_time DESC
        LIMIT #{offset}, #{limit};
    </select>

    <select id="selectCustomerMovePublicleadsRulesInfoBySegmentId"
            resultType="com.ruoyi.customer.domain.bo.CustomerMovePublicleadsRulesInfoBO">
        SELECT
            c.id,
            c.last_contacted_at AS lastContactedAt,
            cfup.user_id AS userId
        FROM
            customer_customer c
            LEFT JOIN customer_customer_follow_up_personnel cfup ON cfup.customer_id = c.id
            LEFT JOIN customer_customer_segment cs ON cs.customer_id = c.id
            LEFT JOIN customer_segment s ON s.id = cs.segment_id
        WHERE
            cs.segment_id = #{segmentId} and c.sea_type = 1
    </select>

    <select id="queryRoleDeptSimpleInfo" resultType="com.ruoyi.customer.domain.bo.RoleDeptSimpleInfoVO">
        SELECT
            r.role_id AS roleId,
            r.data_scope AS dataScope,
            rd.dept_id AS roleDeptId
        FROM
            sys_role r
            LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
            LEFT JOIN sys_role_dept rd ON r.role_id = rd.role_id
        WHERE
            ur.user_id = #{userId}
    </select>

    <select id="getAllUser" resultType="com.ruoyi.customer.domain.vo.TeamMembersListVO">
        select user_id as userId, nick_name as nickName, dept_id as deptId from sys_user where status = 0 and del_flag = '0'
    </select>

    <select id="getUserByDeptIds" resultType="com.ruoyi.customer.domain.vo.TeamMembersListVO">
        select user_id as userId, nick_name as nickName, dept_id as deptId from sys_user where dept_id in
        <foreach collection="deptIdList" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
        and status = 0 and del_flag = '0'
    </select>

    <select id="findSubordinateDeptIds" resultType="java.lang.Long">
        select dept_id from sys_dept where del_flag = '0' and parent_id = #{deptId}
    </select>

    <select id="getMaxCustomerNo" resultType="java.lang.Long">
        SELECT MAX(CAST(SUBSTRING(CONVERT(customer_no, SIGNED), 1, LENGTH(customer_no)) AS UNSIGNED))
        FROM customer_customer
        WHERE customer_no REGEXP '^[0-9]+$';
    </select>

    <select id="countByCustomerNo" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM customer_customer WHERE customer_no = #{customerNo} AND del_flag = '0'
    </select>

    <select id="selectCountryRegion" resultType="com.ruoyi.customer.domain.vo.SubgroupColumnListVO">
        select value as id, label as name from base_country
    </select>

    <select id="selectTimeZone" resultType="com.ruoyi.customer.domain.vo.SubgroupColumnListVO">
        select value as id, label as name from base_timezone
    </select>

    <select id="countByCompanyName" resultType="java.lang.Integer">
        select count(*) from customer_customer where company_name = #{companyName} and del_flag = '0'
    </select>

    <select id="countByIdAndCompanyName" resultType="java.lang.Integer">
        select count(*) from customer_customer where id != #{id} and company_name = #{companyName} and del_flag = '0'
    </select>

    <select id="selectEmailCountGroupByRating"
            resultType="com.ruoyi.customer.domain.bo.EmailCountGroupByRatingBO">
        select cc.id as customerId, cc.company_name as companyName, cc.rating, count(1) as count from customer_customer cc
        left join customer_customer_follow_up_personnel  ccfup on cc.id = ccfup.customer_id
        left join customer_customer_contact ccc on cc.id = ccc.customer_id
        left join mailbox_task_email mte on ccc.email = mte.fromer
        where cc.del_flag = '0' and ccc.del_flag = '0' and mte.del_flag = '0' and ccfup.user_id = #{userId} group by cc.id, cc.company_name, rating
    </select>

    <select id="selectEmailCountGroupByPublicleadsGroups"
            resultType="com.ruoyi.customer.domain.bo.EmailCountGroupByPublicleadsGroupsBO">
        select cc.id as customerId, cc.company_name as companyName, cc.publicleads_groups_id as publicleadsGroupsId, count(1) as count from customer_customer cc
        left join customer_customer_follow_up_personnel  ccfup on cc.id = ccfup.customer_id
        left join customer_customer_contact ccc on cc.id = ccc.customer_id
        left join mailbox_task_email mte on ccc.email = mte.fromer
        where cc.del_flag = '0' and ccc.del_flag = '0' and mte.del_flag = '0' and ccfup.user_id = #{userId} group by cc.id, cc.company_name, cc.publicleads_groups_id order by cc.create_time desc
    </select>

    <select id="selectEmailCountGroupByPacket"
            resultType="com.ruoyi.customer.domain.bo.EmailCountGroupByPacketBO">
        select cc.id as customerId, cc.company_name as companyName, cc.packet_id as packetId, count(1) as count from customer_customer cc
            left join customer_customer_follow_up_personnel  ccfup on cc.id = ccfup.customer_id
            left join customer_customer_contact ccc on cc.id = ccc.customer_id
            left join mailbox_task_email mte on ccc.email = mte.fromer
        where cc.del_flag = '0' and ccc.del_flag = '0' and mte.del_flag = '0' and ccfup.user_id = #{userId} group by cc.id, cc.company_name, cc.packet_id order by cc.create_time desc
    </select>

    <select id="selectEmailCountGroupBySource"
            resultType="com.ruoyi.customer.domain.bo.EmailCountGroupBySourceBO">
        select cc.id as customerId, cc.company_name as companyName, ccs.source_id as sourceId, count(DISTINCT cc.id) as count from customer_customer cc
        left join customer_customer_follow_up_personnel  ccfup on cc.id = ccfup.customer_id
        left join customer_customer_contact ccc on cc.id = ccc.customer_id
        left join mailbox_task_email mte on ccc.email = mte.fromer
        left join customer_customer_source ccs ON cc.id = ccs.customer_id
        where cc.del_flag = '0' and ccc.del_flag = '0' and mte.del_flag = '0' and ccfup.user_id = #{userId} group by cc.id, cc.company_name, ccs.source_id
    </select>

    <select id="selectEmailCountGroupByCustomer"
            resultType="com.ruoyi.customer.domain.bo.EmailCountGroupByCustomerBO">
        select cc.id as customerId, cc.company_name as companyName, cc.last_contacted_at as lastContactedAt, count(DISTINCT cc.id) as count from customer_customer cc
            left join customer_customer_follow_up_personnel  ccfup on cc.id = ccfup.customer_id
            left join customer_customer_contact ccc on cc.id = ccc.customer_id
            left join mailbox_task_email mte on ccc.email = mte.fromer
            left join customer_customer_source ccs ON cc.id = ccs.customer_id
        where cc.del_flag = '0' and ccc.del_flag = '0' and mte.del_flag = '0' and ccfup.user_id = #{userId} group by cc.id, cc.company_name, cc.last_contacted_at order by cc.last_contacted_at desc
    </select>

    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into customer_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyWebsite != null">company_website,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="shortName != null">short_name,</if>
            <if test="countryRegion != null">country_region,</if>
            <if test="seaType != null">sea_type,</if>
            <if test="publicleadsGroupsId != null">publicleads_groups_id,</if>
            <if test="packetId != null">packet_id,</if>
            <if test="stageId != null">stage_id,</if>
            <if test="rating != null">rating,</if>
            <if test="customerNoType != null">customer_no_type,</if>
            <if test="customerNo != null and customerNo != ''">customer_no,</if>
            <if test="phonePrefix != null">phone_prefix,</if>
            <if test="phone != null">phone,</if>
            <if test="timezone != null">timezone,</if>
            <if test="scale != null">scale,</if>
            <if test="fax != null">fax,</if>
            <if test="address != null">address,</if>
            <if test="companyRemarks != null">company_remarks,</if>
            <if test="companyLogo != null">company_logo,</if>
            <if test="focusFlag != null">focus_flag,</if>
            <if test="lastContactedAt != null">last_contacted_at,</if>
            <if test="lastFollowupAt != null">last_followup_at,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyWebsite != null">#{companyWebsite},</if>
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="shortName != null">#{shortName},</if>
            <if test="countryRegion != null">#{countryRegion},</if>
            <if test="seaType != null">#{seaType},</if>
            <if test="publicleadsGroupsId != null">#{publicleadsGroupsId},</if>
            <if test="packetId != null">#{packetId},</if>
            <if test="stageId != null">#{stageId},</if>
            <if test="rating != null">#{rating},</if>
            <if test="customerNoType != null">#{customerNoType},</if>
            <if test="customerNo != null and customerNo != ''">#{customerNo},</if>
            <if test="phonePrefix != null">#{phonePrefix},</if>
            <if test="phone != null">#{phone},</if>
            <if test="timezone != null">#{timezone},</if>
            <if test="scale != null">#{scale},</if>
            <if test="fax != null">#{fax},</if>
            <if test="address != null">#{address},</if>
            <if test="companyRemarks != null">#{companyRemarks},</if>
            <if test="companyLogo != null">#{companyLogo},</if>
            <if test="focusFlag != null">#{focusFlag},</if>
            <if test="lastContactedAt != null">#{lastContactedAt},</if>
            <if test="lastFollowupAt != null">#{lastFollowupAt},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="insertBaseCountry">
        insert into base_country (type, value, label)
        values (#{type}, #{value}, #{label})
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update customer_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyWebsite != null">company_website = #{companyWebsite},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="shortName != null">short_name = #{shortName},</if>
            <if test="countryRegion != null">country_region = #{countryRegion},</if>
            <if test="seaType != null">sea_type = #{seaType},</if>
            <if test="publicleadsGroupsId != null">publicleads_groups_id = #{publicleadsGroupsId},</if>
            <if test="packetId != null">packet_id = #{packetId},</if>
            <if test="stageId != null">stage_id = #{stageId},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="customerNoType != null">customer_no_type = #{customerNoType},</if>
            <if test="customerNo != null and customerNo != ''">customer_no = #{customerNo},</if>
            <if test="phonePrefix != null">phone_prefix = #{phonePrefix},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="timezone != null">timezone = #{timezone},</if>
            <if test="scale != null">scale = #{scale},</if>
            <if test="fax != null">fax = #{fax},</if>
            <if test="address != null">address = #{address},</if>
            <if test="companyRemarks != null">company_remarks = #{companyRemarks},</if>
            <if test="companyLogo != null">company_logo = #{companyLogo},</if>
            <if test="focusFlag != null">focus_flag = #{focusFlag},</if>
            <if test="lastContactedAt != null">last_contacted_at = #{lastContactedAt},</if>
            <if test="lastFollowupAt != null">last_followup_at = #{lastFollowupAt},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="moveCustomerToPacket">
        update customer_customer set packet_id = #{packetId} where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
        and del_flag = '0'
    </update>

    <update id="updateFocusFlag">
        update customer_customer set focus_flag = !focus_flag, update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id} and del_flag = '0'
    </update>

    <update id="changePublicleadsGroups">
        update customer_customer set publicleads_groups_id = #{publicleadsGroupsId}, update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id} and del_flag = '0'
    </update>

    <update id="moveToPrivateleads">
        update customer_customer set sea_type = 1, update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id} and del_flag = '0'
    </update>

    <update id="updateCustomerSeaType">
        update customer_customer set sea_type = #{seaType}, update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id} and del_flag = '0'
    </update>

    <update id="batchUpdateCustomerSeaType">
        update customer_customer set sea_type = #{seaType}
        <where>
            id in
            <foreach item="id" collection="customerIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <delete id="deleteCustomerById" parameterType="Long">
        delete from customer_customer where id = #{id}
    </delete>

    <delete id="deleteCustomerByIds" parameterType="String">
        delete from customer_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>