<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.CustomerScheduleMapper">

    <resultMap type="CustomerSchedule" id="CustomerScheduleResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="scheduleContent"    column="schedule_content"    />
        <result property="color"    column="color"    />
        <result property="allDayFlag"    column="all_day_flag"    />
        <result property="scheduleStartTime"    column="schedule_start_time"    />
        <result property="scheduleEndTime"    column="schedule_end_time"    />
        <result property="completedFlag"    column="completed_flag"    />
        <result property="recurringSchedule"    column="recurring_schedule"    />
        <result property="customCycleValue"    column="custom_cycle_value"    />
        <result property="customCycleType"    column="custom_cycle_type"    />
        <result property="cycleEndTime"    column="cycle_end_time"    />
        <result property="reminderTime"    column="reminder_time"    />
        <result property="focusFlag"    column="focus_flag"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerScheduleVo">
        select id, customer_id, schedule_content, color, all_day_flag, schedule_start_time, schedule_end_time, completed_flag, recurring_schedule, custom_cycle_value, custom_cycle_type, cycle_end_time, reminder_time, focus_flag, remark, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from customer_customer_schedule
    </sql>

    <select id="selectCustomerScheduleList" parameterType="CustomerSchedule" resultMap="CustomerScheduleResult">
        <include refid="selectCustomerScheduleVo"/>
        <where>
            <if test="customerId != null"> and customer_id = #{customerId}</if>
            <if test="scheduleContent != null  and scheduleContent != ''"> and schedule_content = #{scheduleContent}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="allDayFlag != null "> and all_day_flag = #{allDayFlag}</if>
            <if test="scheduleStartTime != null "> and schedule_start_time = #{scheduleStartTime}</if>
            <if test="scheduleEndTime != null "> and schedule_end_time = #{scheduleEndTime}</if>
            <if test="completedFlag != null "> and completed_flag = #{completedFlag}</if>
            <if test="recurringSchedule != null "> and recurring_schedule = #{recurringSchedule}</if>
            <if test="customCycleValue != null "> and custom_cycle_value = #{customCycleValue}</if>
            <if test="customCycleType != null "> and custom_cycle_type = #{customCycleType}</if>
            <if test="cycleEndTime != null "> and cycle_end_time = #{cycleEndTime}</if>
            <if test="reminderTime != null  and reminderTime != ''"> and reminder_time = #{reminderTime}</if>
            <if test="focusFlag != null"> and focus_flag = #{focusFlag}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="selectCustomerScheduleById" parameterType="Long" resultMap="CustomerScheduleResult">
        <include refid="selectCustomerScheduleVo"/>
        where id = #{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from customer_customer_schedule cs
        left join customer_customer_schedule_participants csp on cs.id = csp.schedule_id and csp.del_flag = '0'
        where cs.del_flag = '0' and cs.customer_id = #{customerId}
        <if test="startTime != null and endTime != null">
             and ((cs.schedule_start_time between startTime and endTime) or (cs.schedule_end_time between startTime and endTime))
        </if>
        <if test="userIds != null">
            and csp.userId in
            <foreach item="userId" collection="userIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
    </select>

    <select id="list" resultType="com.ruoyi.customer.domain.vo.CustomerScheduleListVO">
        SELECT
            cs.id,
            c.id AS customerId,
            c.name AS customerName,
            cs.schedule_content AS scheduleContent,
            cs.create_time AS createTime,
            cs.create_by AS createBy,
            cs.recurring_schedule AS recurringSchedule,
            cs.schedule_start_time AS scheduleStartTime,
            cs.schedule_end_time AS scheduleEndTime,
            cs.all_day_flag AS allDayFlag,
            cs.remark,
            cs.reminder_time AS reminderTime,
            cs.focus_flag AS focusFlag,
            GROUP_CONCAT(u.nick_name SEPARATOR ',') AS participants
        FROM customer_customer_schedule cs
        LEFT JOIN customer_customer_schedule_participants csp ON cs.id = csp.schedule_id
        LEFT JOIN customer_customer c ON cs.customer_id = c.id
        LEFT JOIN sys_user u ON u.id = csp.user_id
        WHERE cs.del_flag = '0' and cs.customer_id = #{customerId}
        <if test="startTime != null and endTime != null">
            and ((cs.schedule_start_time between startTime and endTime) or (cs.schedule_end_time between startTime and endTime))
        </if>
        <if test="userIds != null">
            and csp.userId in
            <foreach item="userId" collection="userIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        GROUP BY cs.id;
        ORDER BY cs.create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <insert id="insertCustomerSchedule" parameterType="CustomerSchedule" useGeneratedKeys="true" keyProperty="id">
        insert into customer_customer_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="scheduleContent != null and scheduleContent != ''">schedule_content,</if>
            <if test="color != null">color,</if>
            <if test="allDayFlag != null">all_day_flag,</if>
            <if test="scheduleStartTime != null">schedule_start_time,</if>
            <if test="scheduleEndTime != null">schedule_end_time,</if>
            <if test="completedFlag != null">completed_flag,</if>
            <if test="recurringSchedule != null">recurring_schedule,</if>
            <if test="customCycleValue != null">custom_cycle_value,</if>
            <if test="customCycleType != null">custom_cycle_type,</if>
            <if test="cycleEndTime != null">cycle_end_time,</if>
            <if test="reminderTime != null">reminder_time,</if>
            <if test="focusFlag != null">focus_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="scheduleContent != null and scheduleContent != ''">#{scheduleContent},</if>
            <if test="color != null">#{color},</if>
            <if test="allDayFlag != null">#{allDayFlag},</if>
            <if test="scheduleStartTime != null">#{scheduleStartTime},</if>
            <if test="scheduleEndTime != null">#{scheduleEndTime},</if>
            <if test="completedFlag != null">#{completedFlag},</if>
            <if test="recurringSchedule != null">#{recurringSchedule},</if>
            <if test="customCycleValue != null">#{customCycleValue},</if>
            <if test="customCycleType != null">#{customCycleType},</if>
            <if test="cycleEndTime != null">#{cycleEndTime},</if>
            <if test="reminderTime != null">#{reminderTime},</if>
            <if test="focusFlag != null">#{focusFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCustomerSchedule" parameterType="CustomerSchedule">
        update customer_customer_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="scheduleContent != null and scheduleContent != ''">schedule_content = #{scheduleContent},</if>
            <if test="color != null">color = #{color},</if>
            <if test="allDayFlag != null">all_day_flag = #{allDayFlag},</if>
            <if test="scheduleStartTime != null">schedule_start_time = #{scheduleStartTime},</if>
            <if test="scheduleEndTime != null">schedule_end_time = #{scheduleEndTime},</if>
            <if test="completedFlag != null">completed_flag = #{completedFlag},</if>
            <if test="recurringSchedule != null">recurring_schedule = #{recurringSchedule},</if>
            <if test="customCycleValue != null">custom_cycle_value = #{customCycleValue},</if>
            <if test="customCycleType != null">custom_cycle_type = #{customCycleType},</if>
            <if test="cycleEndTime != null">cycle_end_time = #{cycleEndTime},</if>
            <if test="reminderTime != null">reminder_time = #{reminderTime},</if>
            <if test="focusFlag != null">focus_flag = #{focusFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteCustomerScheduleById">
        update customer_customer_schedule set del_flag = '2', update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id}
    </update>

    <update id="updateFocusFlag">
        update customer_customer_schedule set focus_flag = #{focusFlag}, update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id}
    </update>

    <delete id="deleteCustomerScheduleByIds" parameterType="String">
        delete from customer_customer_schedule where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>