<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.PublicleadsGroupsMapper">
    
    <resultMap type="PublicleadsGroups" id="PublicleadsGroupsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="userIds"    column="user_ids"    />
        <result property="defaultGroupFlag"    column="default_group_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPublicleadsGroupsVo">
        select id, name, user_ids, default_group_flag, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from customer_publicleads_groups
    </sql>

    <select id="selectPublicleadsGroupsList" parameterType="PublicleadsGroups" resultMap="PublicleadsGroupsResult">
        <include refid="selectPublicleadsGroupsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="userIds != null  and userIds != ''"> and user_ids = #{userIds}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            and del_flag = '0'
        </where>
    </select>
    
    <select id="selectPublicleadsGroupsById" parameterType="Long" resultMap="PublicleadsGroupsResult">
        <include refid="selectPublicleadsGroupsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPublicleadsGroups" parameterType="PublicleadsGroups">
        insert into customer_publicleads_groups
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="userIds != null and userIds != ''">user_ids,</if>
            <if test="defaultGroupFlag != null">default_group_flag,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="userIds != null and userIds != ''">#{userIds},</if>
            <if test="defaultGroupFlag != null">#{defaultGroupFlag},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePublicleadsGroups" parameterType="PublicleadsGroups">
        update customer_publicleads_groups
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="userIds != null and userIds != ''">user_ids = #{userIds},</if>
            <if test="defaultGroupFlag != null">default_group_flag = #{defaultGroupFlag},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deletePublicleadsGroupsById">
        update customer_publicleads_groups set del_flag = '2', update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id}
    </update>

    <delete id="deletePublicleadsGroupsByIds" parameterType="String">
        delete from customer_publicleads_groups where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>