.grouped-list-container .grouped-list-item .grouped-list-item-title {
  font-weight: 400;
  font-size: 12px;
  color: #909090;
  margin-bottom: 5px;
  margin-top: 14px;
  padding-left: 14px
}
.grouped-list-container .grouped-list-item.today .grouped-list-item-title {
  color: #2a2a2a;
  font-weight: bolder
}
.grouped-list-container.bordered .grouped-list-item .grouped-list-item-title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-weight: bolder
}	
