.mail-plus-drag-upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  max-width: 100%;
  height: 100%;
  background: #fafafa;
  border: 1px solid #ced5e0;
  display: flex;
  flex-direction: column
}

.mail-plus-drag-upload .bottom-area,
.mail-plus-drag-upload .top-area {
  display: flex;
  width: 100%;
  flex: 1;
  color: #666;
  text-align: center;
  justify-content: center;
  align-items: center
}

.mail-plus-drag-upload .top-area {
  border-bottom: 1px solid #ced5e0
}

.cross-supply-access-modal .mm-modal-body {
  padding: 24px
}

.cross-supply-access-modal .close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer
}

.cross-supply-access-modal .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  padding-bottom: 24px
}

.cross-supply-access-modal .content {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  min-height: 200px
}

.cross-supply-access-modal .content .main {
  flex: 1
}

.cross-supply-access-modal .content .example {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 8px;
  margin-left: 40px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  overflow: hidden;
  padding: 14px 20px
}

.cross-supply-access-modal .content .example .icon {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  height: 40px
}

.cross-supply-access-modal .content .example img {
  width: 160px
}

.cross-supply-access-modal .content .jump-btn {
  position: absolute;
  bottom: 0;
  left: 0
}

@media screen and (max-width:1000px) {
  .component-add-toolbar .mail-attach-list li {
    width: 50%
  }
}

.component-add-toolbar {
  position: relative;
  height: 36px;
  flex-shrink: 0
}

.component-add-toolbar .mail-tool {
  display: flex;
  bottom: 0;
  width: 100%;
  min-width: 580px;
  height: 36px;
  background: #f0f2f5;
  line-height: 36px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box
}

.component-add-toolbar .mail-tool .mail-size {
  line-height: 36px
}

.component-add-toolbar .mail-tool .name {
  padding-right: 10px;
  border-right: 1px solid #cecece;
  color: #9d9d9d;
  font-size: 12px
}

.component-add-toolbar .mail-tool .m-icon {
  font-size: 12px
}

.component-add-toolbar .mail-tool .tool-item {
  vertical-align: bottom;
  position: relative;
  color: #2a2a2a;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  padding: 0 8px
}

[lang=en] .component-add-toolbar .mail-tool .tool-item {
  padding: 0 6px;
  text-align: center
}

.component-add-toolbar .mail-tool .tool-item:hover {
  background: #dcdee0;
  border-radius: 4px
}

.component-add-toolbar .mail-tool .tool-item input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer
}

.component-add-toolbar .mail-tool .tool-item.general-info {
  height: 20px;
  line-height: 18px
}

.component-add-toolbar .mail-tool .tool-item.general-info .mm-select {
  min-width: 70px
}

.component-add-toolbar .mail-tool .tool-item.general-info .mm-selector {
  padding: 0;
  height: 20px;
  min-height: 0;
  line-height: 20px
}

.component-add-toolbar .mail-tool .tool-item.general-info .mm-selector-rendered {
  line-height: normal
}

.component-add-toolbar .mail-tool .mail-toolbar-dropdown .mm-dropdown-trigger {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px
}

.component-add-toolbar .mail-tool .mail-toolbar-dropdown:hover {
  border-radius: .25rem
}

.component-add-toolbar .mail-tool .red-dot-tip {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #e70707;
  margin-bottom: 20px
}

.component-add-toolbar .mail-tool .mm-divider-vertical {
  height: 16px;
  top: 0;
  margin: 0 8px
}

.component-add-toolbar .mail-tool .ai-disabled {
  color: #333;
  cursor: not-allowed;
  opacity: .6
}

.component-add-toolbar .mail-attach-list {
  display: flex;
  flex-flow: wrap
}

.component-add-toolbar .mail-attach-list li {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 33.33%;
  min-width: 300px;
  height: 26px;
  margin: 8px 0;
  border-right: 5px solid #fff;
  border-radius: 2px;
  color: #7f878f;
  background-color: #efefef;
  line-height: 26px
}

.component-add-toolbar .mail-attach-list li:hover {
  color: #3a4550
}

.component-add-toolbar .mail-attach-list li .name {
  display: inline-block;
  max-width: 120px;
  margin-right: 5px
}

.component-add-toolbar .mail-attach-list li .c-attach-progress {
  display: inline-block;
  margin-top: 10px
}

.component-add-toolbar .mail-attach-list li .btns {
  position: absolute;
  top: 0;
  right: 10px
}

.component-add-toolbar .mail-attach-list li .btns a {
  margin-left: 4px
}

.component-add-toolbar .mail-attach-list li .btns a:hover {
  text-decoration: underline
}

.component-add-toolbar .mail-attach-list li .m-icon {
  margin: 0 6px;
  font-size: 12px
}

.more-tool-popper .mm-dropdown-item-content {
  color: #3d3d3d
}

.more-tool-popper .mm-dropdown-item-content:hover {
  background-color: #eef5ff
}

.expands-dialog .big-file-remark {
  margin-top: 8px;
  color: #888;
  font-size: 12px
}

[lang=en] .component-add-toolbar .mail-tool {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap
}

[lang=en] .component-add-toolbar .mail-tool a {
  height: 12px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap
}
