<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.MailboxTemplateTypeMapper">
    
    <resultMap type="MailboxTemplateType" id="MailboxTemplateTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMailboxTemplateTypeVo">
        select id, name, del_flag, create_by, create_time, update_by, update_time from mailbox_template_type
    </sql>

    <select id="selectMailboxTemplateTypeList" parameterType="MailboxTemplateType" resultMap="MailboxTemplateTypeResult">
        <include refid="selectMailboxTemplateTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectMailboxTemplateTypeById" parameterType="Long" resultMap="MailboxTemplateTypeResult">
        <include refid="selectMailboxTemplateTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMailboxTemplateType" parameterType="MailboxTemplateType" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_template_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMailboxTemplateType" parameterType="MailboxTemplateType">
        update mailbox_template_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMailboxTemplateTypeById" parameterType="Long">
        delete from mailbox_template_type where id = #{id}
    </delete>

    <delete id="deleteMailboxTemplateTypeByIds" parameterType="String">
        delete from mailbox_template_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>