<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TaskSingleSettingMapper">

    <resultMap type="TaskSingleSetting" id="TaskSingleSettingResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="letterNickname"    column="letter_nickname"    />
        <result property="defaultSignatureId"    column="default_signature_id"    />
        <result property="replySignatureId"    column="reply_signature_id"    />
        <result property="defaultCcFlag"    column="default_cc_flag"    />
        <result property="defaultCc"    column="default_cc"    />
        <result property="defaultBccFlag"    column="default_bcc_flag"    />
        <result property="defaultBcc"    column="default_bcc"    />
        <result property="traceFlag"    column="trace_flag"    />
        <result property="returnReceiptFlag"    column="return_receipt_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaskSingleSettingVo">
        select id, task_id, letter_nickname, default_signature_id, reply_signature_id, default_cc_flag, default_cc, default_bcc_flag, default_bcc, trace_flag, return_receipt_flag, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from mailbox_task_single_setting
    </sql>

    <select id="selectTaskSingleSettingList" parameterType="TaskSingleSetting" resultMap="TaskSingleSettingResult">
        <include refid="selectTaskSingleSettingVo"/>
        <where>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="letterNickname != null  and letterNickname != ''"> and letter_nickname like concat('%', #{letterNickname}, '%')</if>
            <if test="defaultSignatureId != null "> and default_signature_id = #{defaultSignatureId}</if>
            <if test="replySignatureId != null "> and reply_signature_id = #{replySignatureId}</if>
            <if test="defaultCcFlag != null "> and default_cc_flag = #{defaultCcFlag}</if>
            <if test="defaultCc != null  and defaultCc != ''"> and default_cc = #{defaultCc}</if>
            <if test="defaultBccFlag != null "> and default_bcc_flag = #{defaultBccFlag}</if>
            <if test="defaultBcc != null  and defaultBcc != ''"> and default_bcc = #{defaultBcc}</if>
            <if test="traceFlag != null "> and trace_flag = #{traceFlag}</if>
            <if test="returnReceiptFlag != null "> and return_receipt_flag = #{returnReceiptFlag}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="selectTaskSingleSettingById" parameterType="Long" resultMap="TaskSingleSettingResult">
        <include refid="selectTaskSingleSettingVo"/>
        where id = #{id}
    </select>

    <select id="list" resultType="com.ruoyi.email.domain.vo.TaskSingleSettingListVO">
        select tss.id, t.id as taskId, t.account as taskName, tss.letter_nickname as letterNickname, tss.default_signature_id as defaultSignatureId, tss.reply_signature_id as replySignatureId, tss.default_cc_flag as defaultCcFlag, tss.default_cc as defaultCc, tss.default_bcc_flag as defaultBccFlag, tss.default_bcc as defaultBcc, tss.trace_flag as traceFlag, tss.return_receipt_flag as returnReceiptFlag from mailbox_task t
        left join mailbox_task_single_setting tss on t.id = tss.task_id
        where t.create_id = #{createId} and t.del_flag = '0'
    </select>

    <insert id="insertTaskSingleSetting" parameterType="TaskSingleSetting" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_task_single_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="letterNickname != null and letterNickname != ''">letter_nickname,</if>
            <if test="defaultSignatureId != null">default_signature_id,</if>
            <if test="replySignatureId != null">reply_signature_id,</if>
            <if test="defaultCcFlag != null">default_cc_flag,</if>
            <if test="defaultCc != null">default_cc,</if>
            <if test="defaultBccFlag != null">default_bcc_flag,</if>
            <if test="defaultBcc != null">default_bcc,</if>
            <if test="traceFlag != null">trace_flag,</if>
            <if test="returnReceiptFlag != null">return_receipt_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="letterNickname != null and letterNickname != ''">#{letterNickname},</if>
            <if test="defaultSignatureId != null">#{defaultSignatureId},</if>
            <if test="replySignatureId != null">#{replySignatureId},</if>
            <if test="defaultCcFlag != null">#{defaultCcFlag},</if>
            <if test="defaultCc != null">#{defaultCc},</if>
            <if test="defaultBccFlag != null">#{defaultBccFlag},</if>
            <if test="defaultBcc != null">#{defaultBcc},</if>
            <if test="traceFlag != null">#{traceFlag},</if>
            <if test="returnReceiptFlag != null">#{returnReceiptFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTaskSingleSetting" parameterType="TaskSingleSetting">
        update mailbox_task_single_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="letterNickname != null and letterNickname != ''">letter_nickname = #{letterNickname},</if>
            <if test="defaultSignatureId != null">default_signature_id = #{defaultSignatureId},</if>
            <if test="replySignatureId != null">reply_signature_id = #{replySignatureId},</if>
            <if test="defaultCcFlag != null">default_cc_flag = #{defaultCcFlag},</if>
            <if test="defaultCc != null">default_cc = #{defaultCc},</if>
            <if test="defaultBccFlag != null">default_bcc_flag = #{defaultBccFlag},</if>
            <if test="defaultBcc != null">default_bcc = #{defaultBcc},</if>
            <if test="traceFlag != null">trace_flag = #{traceFlag},</if>
            <if test="returnReceiptFlag != null">return_receipt_flag = #{returnReceiptFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskSingleSettingById" parameterType="Long">
        delete from mailbox_task_single_setting where id = #{id}
    </delete>

    <delete id="deleteTaskSingleSettingByIds" parameterType="String">
        delete from mailbox_task_single_setting where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="deleteTaskSingleSettingByUserId">
        update mailbox_task_single_setting set del_flag = '2' and update_id = #{updateId} and update_by = #{updateBy} and update_time = now() where create_id = #{createId}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            INSERT INTO mailbox_task_single_setting
            (task_id, letter_nickname, default_signature_id, reply_signature_id, default_cc_flag, default_cc,
            default_bcc_flag, default_bcc, trace_flag, return_receipt_flag, del_flag, create_id, create_by,
            create_time, update_id, update_by, update_time)
            VALUES
            (#{item.taskId}, #{item.letterNickname}, #{item.defaultSignatureId}, #{item.replySignatureId},
            #{item.defaultCcFlag}, #{item.defaultCc}, #{item.defaultBccFlag}, #{item.defaultBcc},
            #{item.traceFlag}, #{item.returnReceiptFlag}, #{item.delFlag}, #{item.createId}, #{item.createBy},
            #{item.createTime}, #{item.updateId}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

</mapper>