<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TaskEmailAttachmentMapper">
    
    <resultMap type="TaskEmailAttachment" id="TaskEmailAttachmentResult">
        <result property="id"    column="id"    />
        <result property="emailId"    column="email_id"    />
        <result property="name"    column="name"    />
        <result property="path"    column="path"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaskEmailAttachmentVo">
        select id, email_id, name, path, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from mailbox_task_email_attachment
    </sql>

    <select id="selectTaskEmailAttachmentList" parameterType="TaskEmailAttachment" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        <where>  
            <if test="emailId != null "> and email_id = #{emailId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
        </where>
    </select>
    
    <select id="selectTaskEmailAttachmentById" parameterType="Long" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        where id = #{id}
    </select>

    <select id="selectByEmailId" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        where email_id = #{emailId}
    </select>

    <select id="getByTaskIdAndEmailId" resultMap="TaskEmailAttachmentResult">
        select id, name, size from mailbox_task_email_attachment
        and email_id = #{emailId} and create_id = #{createId} and del_flag = 0
    </select>

    <select id="getById" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        where id = #{id} and create_id = #{createId} and del_flag = 0
    </select>

    <select id="selectByEmailIds" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        where email_id in
        <foreach item="emailId" collection="emailIds" open="(" separator="," close=")">
            #{emailId}
        </foreach>
        and del_flag = 0
    </select>

    <insert id="insertTaskEmailAttachment" parameterType="TaskEmailAttachment" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_task_email_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="emailId != null">email_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null and createId != ''">create_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null and updateId != ''">update_id,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="emailId != null">#{emailId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null and createId != ''">#{createId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null and updateId != ''">#{updateId},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="batchInsertTaskEmailAttachment" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into mailbox_task_email_attachment (email_id, name, path, create_Id, create_by, create_time, update_id, update_by, update_time)
        values
        <foreach collection="emailAttachments" item="item" index="index" separator=",">
            (#{item.emailId}, #{item.name}, #{item.path}, #{item.createId}, #{item.createBy}, #{item.createTime}, #{item.updateId}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="updateTaskEmailAttachment" parameterType="TaskEmailAttachment">
        update mailbox_task_email_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="emailId != null">email_id = #{emailId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null and createId != ''">create_id = #{createId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null and updateId != ''">update_id = #{updateId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateEmailIdByIds">
        update mailbox_task_email_attachment set email_id = #{emailId} where id in
        <foreach item="id" collection="attachmentIdList" open="(" separator="," close=")">
            #{id}
        </foreach>
        and del_flag = 0
    </update>

    <update id="updateNameById">
        update mailbox_task_email_attachment set name = #{name} where id = #{id} and create_id = #{createId} and del_flag = 0
    </update>

    <delete id="deleteTaskEmailAttachmentById" parameterType="Long">
        delete from mailbox_task_email_attachment where id = #{id} and del_flag = 0
    </delete>

    <delete id="deleteTaskEmailAttachmentByIds" parameterType="String">
        delete from mailbox_task_email_attachment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        and del_flag = 0
    </delete>

    <update id="deleteById">
        update mailbox_task_email_attachment set del_flag = 2 where id = #{id} and create_id = #{createId} and del_flag = 0
    </update>
</mapper>