<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TaskEmailAttachmentMapper">

    <resultMap type="TaskEmailAttachment" id="TaskEmailAttachmentResult">
        <result property="id"    column="id"    />
        <result property="emailId"    column="email_id"    />
        <result property="attachmentId"    column="attachment_id"    />
    </resultMap>

    <sql id="selectTaskEmailAttachmentVo">
        select id, email_id, attachment_id from mailbox_task_email_attachment
    </sql>

    <select id="selectTaskEmailAttachmentList" parameterType="TaskEmailAttachment" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        <where>
            <if test="emailId != null "> and email_id = #{emailId}</if>
            <if test="attachmentId != null "> and attachment_id = #{attachmentId}</if>
        </where>
    </select>

    <select id="selectTaskEmailAttachmentById" parameterType="Long" resultMap="TaskEmailAttachmentResult">
        <include refid="selectTaskEmailAttachmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertTaskEmailAttachment" parameterType="TaskEmailAttachment">
        insert into mailbox_task_email_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="emailId != null">email_id,</if>
            <if test="attachmentId != null">attachment_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="emailId != null">#{emailId},</if>
            <if test="attachmentId != null">#{attachmentId},</if>
        </trim>
    </insert>

    <insert id="batchInsertTaskEmailAttachment" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into mailbox_task_email_attachment (email_id, attachment_id)
        values
        <foreach collection="taskEmailAttachmentList" item="item" index="index" separator=",">
            (#{item.emailId}, #{item.attachmentId})
        </foreach>
    </insert>

    <update id="updateTaskEmailAttachment" parameterType="TaskEmailAttachment">
        update mailbox_task_email_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="emailId != null">email_id = #{emailId},</if>
            <if test="attachmentId != null">attachment_id = #{attachmentId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskEmailAttachmentById" parameterType="Long">
        delete from mailbox_task_email_attachment where id = #{id}
    </delete>

    <delete id="deleteTaskEmailAttachmentByIds" parameterType="String">
        delete from mailbox_task_email_attachment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>