<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TaskMapper">
    
    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
        <result property="alias"    column="alias"    />
        <result property="connStatus"    column="conn_status"    />
        <result property="connExceptionReason"    column="conn_exception_reason"    />
        <result property="protocolType"    column="protocol_type"    />
        <result property="receivingServer"    column="receiving_server"    />
        <result property="receivingPort"    column="receiving_port"    />
        <result property="receivingSslFlag"    column="receiving_ssl_flag"    />
        <result property="outgoingServer"    column="outgoing_server"    />
        <result property="outgoingPort"    column="outgoing_port"    />
        <result property="outgoingSslFlag"    column="outgoing_ssl_flag"    />
        <result property="customProxyFlag"    column="custom_proxy_flag"    />
        <result property="proxyServerType"    column="proxy_server_type"    />
        <result property="proxyServer"    column="proxy_server"    />
        <result property="proxyPort"    column="proxy_port"    />
        <result property="proxyUsername"    column="proxy_username"    />
        <result property="proxyPassword"    column="proxy_password"    />
        <result property="synchronizeFolderFlag"    column="synchronize_folder_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, account, password, alias, conn_status, conn_exception_reason, protocol_type, receiving_server, receiving_port, receiving_ssl_flag, outgoing_server, outgoing_port, outgoing_ssl_flag, custom_proxy_flag, proxy_server_type, proxy_server, proxy_port, proxy_username, proxy_password, synchronize_folder_flag, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from mailbox_task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="alias != null  and alias != ''"> and alias = #{alias}</if>
            <if test="connStatus != null "> and conn_status = #{connStatus}</if>
            <if test="connExceptionReason != null  and connExceptionReason != ''"> and conn_exception_reason = #{connExceptionReason}</if>
            <if test="protocolType != null and protocolType != ''"> and protocol_type = #{protocolType},</if>
            <if test="receivingServer != null  and receivingServer != ''"> and receiving_server = #{receivingServer}</if>
            <if test="receivingPort != null "> and receiving_port = #{receivingPort}</if>
            <if test="receivingSslFlag != null "> and receiving_ssl_flag = #{receivingSslFlag}</if>
            <if test="outgoingServer != null  and outgoingServer != ''"> and outgoing_server = #{outgoingServer}</if>
            <if test="outgoingPort != null "> and outgoing_port = #{outgoingPort}</if>
            <if test="outgoingSslFlag != null "> and outgoing_ssl_flag = #{outgoingSslFlag}</if>
            <if test="customProxyFlag != null "> and custom_proxy_flag = #{customProxyFlag}</if>
            <if test="proxyServerType != null "> and proxy_server_type = #{proxyServerType}</if>
            <if test="proxyServer != null  and proxyServer != ''"> and proxy_server = #{proxyServer}</if>
            <if test="proxyPort != null "> and proxy_port = #{proxyPort}</if>
            <if test="proxyUsername != null  and proxyUsername != ''"> and proxy_username like concat('%', #{proxyUsername}, '%')</if>
            <if test="proxyPassword != null  and proxyPassword != ''"> and proxy_password = #{proxyPassword}</if>
            <if test="synchronizeFolderFlag != null "> and synchronize_folder_flag = #{synchronizeFolderFlag}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="getTaskById" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id} and create_id = #{createId} and del_flag = 0
    </select>

    <select id="countAccount" resultType="java.lang.Integer">
        select count(*) from mailbox_task where account = #{account} and create_id = #{userId} and del_flag = 0
    </select>

    <select id="listTask" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where create_id = #{createId}
        and del_flag = 0
        order by create_time desc
    </select>

    <select id="countById" resultType="java.lang.Integer">
        select count(*) from mailbox_task where id = #{id} and create_id = #{createId} and del_flag = 0
    </select>

    <select id="listIdByUserId" resultType="java.lang.Long">
        select id from mailbox_task where create_id = #{createId} and del_flag = '0'
    </select>

    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">account,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="alias != null and alias != ''">alias,</if>
            <if test="connStatus != null">conn_status,</if>
            <if test="connExceptionReason != null">conn_exception_reason,</if>
            <if test="protocolType != null and protocolType != ''">protocol_type,</if>
            <if test="receivingServer != null and receivingServer != ''">receiving_server,</if>
            <if test="receivingPort != null">receiving_port,</if>
            <if test="receivingSslFlag != null">receiving_ssl_flag,</if>
            <if test="outgoingServer != null and outgoingServer != ''">outgoing_server,</if>
            <if test="outgoingPort != null">outgoing_port,</if>
            <if test="outgoingSslFlag != null">outgoing_ssl_flag,</if>
            <if test="customProxyFlag != null">custom_proxy_flag,</if>
            <if test="proxyServerType != null">proxy_server_type,</if>
            <if test="proxyServer != null">proxy_server,</if>
            <if test="proxyPort != null">proxy_port,</if>
            <if test="proxyUsername != null">proxy_username,</if>
            <if test="proxyPassword != null">proxy_password,</if>
            <if test="synchronizeFolderFlag != null">synchronize_folder_flag,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null and createId != ''">create_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null and updateId != ''">update_id,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">#{account},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="alias != null and alias != ''">#{alias},</if>
            <if test="connStatus != null">#{connStatus},</if>
            <if test="connExceptionReason != null">#{connExceptionReason},</if>
            <if test="protocolType != null and protocolType != ''">#{protocolType},</if>
            <if test="receivingServer != null and receivingServer != ''">#{receivingServer},</if>
            <if test="receivingPort != null">#{receivingPort},</if>
            <if test="receivingSslFlag != null">#{receivingSslFlag},</if>
            <if test="outgoingServer != null and outgoingServer != ''">#{outgoingServer},</if>
            <if test="outgoingPort != null">#{outgoingPort},</if>
            <if test="outgoingSslFlag != null">#{outgoingSslFlag},</if>
            <if test="customProxyFlag != null">#{customProxyFlag},</if>
            <if test="proxyServerType != null">#{proxyServerType},</if>
            <if test="proxyServer != null">#{proxyServer},</if>
            <if test="proxyPort != null">#{proxyPort},</if>
            <if test="proxyUsername != null">#{proxyUsername},</if>
            <if test="proxyPassword != null">#{proxyPassword},</if>
            <if test="synchronizeFolderFlag != null">#{synchronizeFolderFlag},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null and createId != ''">#{createId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null and updateId != ''">#{updateId},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update mailbox_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="alias != null and alias != ''">alias = #{alias},</if>
            <if test="connStatus != null">conn_status = #{connStatus},</if>
            <if test="connExceptionReason != null">conn_exception_reason = #{connExceptionReason},</if>
            <if test="protocolType != null">protocol_type = #{protocolType},</if>
            <if test="receivingServer != null and receivingServer != ''">receiving_server = #{receivingServer},</if>
            <if test="receivingPort != null">receiving_port = #{receivingPort},</if>
            <if test="receivingSslFlag != null">receiving_ssl_flag = #{receivingSslFlag},</if>
            <if test="outgoingServer != null and outgoingServer != ''">outgoing_server = #{outgoingServer},</if>
            <if test="outgoingPort != null">outgoing_port = #{outgoingPort},</if>
            <if test="outgoingSslFlag != null">outgoing_ssl_flag = #{outgoingSslFlag},</if>
            <if test="customProxyFlag != null">custom_proxy_flag = #{customProxyFlag},</if>
            <if test="proxyServerType != null">proxy_server_type = #{proxyServerType},</if>
            <if test="proxyServer != null">proxy_server = #{proxyServer},</if>
            <if test="proxyPort != null">proxy_port = #{proxyPort},</if>
            <if test="proxyUsername != null">proxy_username = #{proxyUsername},</if>
            <if test="proxyPassword != null">proxy_password = #{proxyPassword},</if>
            <if test="synchronizeFolderFlag != null">synchronize_folder_flag = #{synchronizeFolderFlag},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null and createId != ''">create_id = #{createId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null and updateId != ''">update_id = #{updateId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="unbindTaskById">
        update mailbox_task set del_flag = 2 where id = #{id} and create_id = #{createId}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from mailbox_task where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from mailbox_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>