<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TaskEmailContentMapper">
    
    <resultMap type="TaskEmailContent" id="TaskEmailContentResult">
        <result property="id"    column="id"    />
        <result property="emailId"    column="email_id"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaskEmailContentVo">
        select id, email_id, type, content, del_flag, create_by, create_time, update_by, update_time from mailbox_task_email_content
    </sql>

    <select id="selectTaskEmailContentList" parameterType="TaskEmailContent" resultMap="TaskEmailContentResult">
        <include refid="selectTaskEmailContentVo"/>
        <where>  
            <if test="emailId != null "> and email_id = #{emailId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectTaskEmailContentById" parameterType="Long" resultMap="TaskEmailContentResult">
        <include refid="selectTaskEmailContentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaskEmailContent" parameterType="TaskEmailContent" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_task_email_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="emailId != null">email_id,</if>
            <if test="type != null">type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="emailId != null">#{emailId},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTaskEmailContent" parameterType="TaskEmailContent">
        update mailbox_task_email_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="emailId != null">email_id = #{emailId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskEmailContentById" parameterType="Long">
        delete from mailbox_task_email_content where id = #{id}
    </delete>

    <delete id="deleteTaskEmailContentByIds" parameterType="String">
        delete from mailbox_task_email_content where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>