<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TransceiverRuleMapper">
    
    <resultMap type="TransceiverRule" id="TransceiverRuleResult">
        <result property="id"    column="id"    />
        <result property="ruleType"    column="rule_type"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="executeCondition"    column="execute_condition"    />
        <result property="executeConditionContent"    column="execute_condition_content"    />
        <result property="executeOperation"    column="execute_operation"    />
        <result property="executeOperationContent"    column="execute_operation_content"    />
        <result property="applyToHistoryMailFlag"    column="apply_to_history_mail_flag"    />
        <result property="executeTaskId"    column="execute_task_id"    />
        <result property="otherSendingRules"    column="other_sending_rules"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTransceiverRuleVo">
        select id, rule_type, rule_name, execute_condition, execute_condition_content, execute_operation, execute_operation_content, apply_to_history_mail_flag, execute_task_id, other_sending_rules, del_flag, create_by, create_time, update_by, update_time from mailbox_transceiver_rule
    </sql>

    <select id="selectTransceiverRuleList" parameterType="TransceiverRule" resultMap="TransceiverRuleResult">
        <include refid="selectTransceiverRuleVo"/>
        <where>  
            <if test="ruleType != null "> and rule_type = #{ruleType}</if>
            <if test="ruleName != null  and ruleName != ''"> and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="executeCondition != null "> and execute_condition = #{executeCondition}</if>
            <if test="executeConditionContent != null  and executeConditionContent != ''"> and execute_condition_content = #{executeConditionContent}</if>
            <if test="executeOperation != null "> and execute_operation = #{executeOperation}</if>
            <if test="executeOperationContent != null  and executeOperationContent != ''"> and execute_operation_content = #{executeOperationContent}</if>
            <if test="applyToHistoryMailFlag != null "> and apply_to_history_mail_flag = #{applyToHistoryMailFlag}</if>
            <if test="executeTaskId != null "> and execute_task_id = #{executeTaskId}</if>
            <if test="otherSendingRules != null "> and other_sending_rules = #{otherSendingRules}</if>
        </where>
    </select>
    
    <select id="selectTransceiverRuleById" parameterType="Long" resultMap="TransceiverRuleResult">
        <include refid="selectTransceiverRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTransceiverRule" parameterType="TransceiverRule" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_transceiver_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleType != null">rule_type,</if>
            <if test="ruleName != null and ruleName != ''">rule_name,</if>
            <if test="executeCondition != null">execute_condition,</if>
            <if test="executeConditionContent != null and executeConditionContent != ''">execute_condition_content,</if>
            <if test="executeOperation != null">execute_operation,</if>
            <if test="executeOperationContent != null and executeOperationContent != ''">execute_operation_content,</if>
            <if test="applyToHistoryMailFlag != null">apply_to_history_mail_flag,</if>
            <if test="executeTaskId != null">execute_task_id,</if>
            <if test="otherSendingRules != null">other_sending_rules,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleType != null">#{ruleType},</if>
            <if test="ruleName != null and ruleName != ''">#{ruleName},</if>
            <if test="executeCondition != null">#{executeCondition},</if>
            <if test="executeConditionContent != null and executeConditionContent != ''">#{executeConditionContent},</if>
            <if test="executeOperation != null">#{executeOperation},</if>
            <if test="executeOperationContent != null and executeOperationContent != ''">#{executeOperationContent},</if>
            <if test="applyToHistoryMailFlag != null">#{applyToHistoryMailFlag},</if>
            <if test="executeTaskId != null">#{executeTaskId},</if>
            <if test="otherSendingRules != null">#{otherSendingRules},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTransceiverRule" parameterType="TransceiverRule">
        update mailbox_transceiver_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleType != null">rule_type = #{ruleType},</if>
            <if test="ruleName != null and ruleName != ''">rule_name = #{ruleName},</if>
            <if test="executeCondition != null">execute_condition = #{executeCondition},</if>
            <if test="executeConditionContent != null and executeConditionContent != ''">execute_condition_content = #{executeConditionContent},</if>
            <if test="executeOperation != null">execute_operation = #{executeOperation},</if>
            <if test="executeOperationContent != null and executeOperationContent != ''">execute_operation_content = #{executeOperationContent},</if>
            <if test="applyToHistoryMailFlag != null">apply_to_history_mail_flag = #{applyToHistoryMailFlag},</if>
            <if test="executeTaskId != null">execute_task_id = #{executeTaskId},</if>
            <if test="otherSendingRules != null">other_sending_rules = #{otherSendingRules},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTransceiverRuleById" parameterType="Long">
        delete from mailbox_transceiver_rule where id = #{id}
    </delete>

    <delete id="deleteTransceiverRuleByIds" parameterType="String">
        delete from mailbox_transceiver_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>