<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.email.mapper.TransceiverRuleMapper">

    <resultMap type="TransceiverRule" id="TransceiverRuleResult">
        <result property="id"    column="id"    />
        <result property="ruleType"    column="rule_type"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="executeCondition"    column="execute_condition"    />
        <result property="executeConditionContent"    column="execute_condition_content"    />
        <result property="executeOperation"    column="execute_operation"    />
        <result property="fixedFlag"    column="fixed_flag"    />
        <result property="readFlag"    column="read_flag"    />
        <result property="labelFlag"    column="label_flag"    />
        <result property="labelId"    column="label_id"    />
        <result property="folderFlag"    column="folder_flag"    />
        <result property="folderId"    column="folder_id"    />
        <result property="forwardToFlag"    column="forward_to_flag"    />
        <result property="forwardTo"    column="forward_to"    />
        <result property="pendingFlag"    column="pending_flag"    />
        <result property="pendingType"    column="pending_type"    />
        <result property="pendingDay"    column="pending_day"    />
        <result property="pendingTime"    column="pending_time"    />
        <result property="autoResponseFlag"    column="auto_response_flag"    />
        <result property="autoResponse"    column="auto_response"    />
        <result property="applyToHistoryMailFlag"    column="apply_to_history_mail_flag"    />
        <result property="applyToHistoryMailTrueType"    column="apply_to_history_mail_true_type"    />
        <result property="executeTaskId"    column="execute_task_id"    />
        <result property="otherSendingRules"    column="other_sending_rules"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTransceiverRuleVo">
        select id, rule_type, rule_name, execute_condition, execute_condition_content, execute_operation, fixed_flag, read_flag, label_flag, label_id, folder_flag, folder_id, forward_to_flag, forward_to, pending_flag, pending_type, pending_day, pending_time, auto_response_flag, auto_response, apply_to_history_mail_flag, apply_to_history_mail_true_type, execute_task_id, other_sending_rules, status, order_num, del_flag, create_id, create_by, create_time, update_id, update_by, update_time from mailbox_transceiver_rule
    </sql>

    <select id="selectTransceiverRuleList" parameterType="TransceiverRule" resultMap="TransceiverRuleResult">
        <include refid="selectTransceiverRuleVo"/>
        <where>
            <if test="ruleType != null "> and rule_type = #{ruleType}</if>
            <if test="ruleName != null  and ruleName != ''"> and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="executeCondition != null "> and execute_condition = #{executeCondition}</if>
            <if test="executeConditionContent != null  and executeConditionContent != ''"> and execute_condition_content = #{executeConditionContent}</if>
            <if test="executeOperation != null "> and execute_operation = #{executeOperation}</if>
            <if test="fixedFlag != null "> and fixed_flag = #{fixedFlag}</if>
            <if test="readFlag != null "> and read_flag = #{readFlag}</if>
            <if test="labelFlag != null "> and label_flag = #{labelFlag}</if>
            <if test="labelId != null "> and label_id = #{labelId}</if>
            <if test="folderFlag != null "> and folder_flag = #{folderFlag}</if>
            <if test="folderId != null "> and folder_id = #{folderId}</if>
            <if test="forwardToFlag != null "> and forward_to_flag = #{forwardToFlag}</if>
            <if test="forwardTo != null  and forwardTo != ''"> and forward_to = #{forwardTo}</if>
            <if test="pendingFlag != null "> and pending_flag = #{pendingFlag}</if>
            <if test="pendingType != null "> and pending_type = #{pendingType}</if>
            <if test="pendingDay != null "> and pending_day = #{pendingDay}</if>
            <if test="pendingTime != null  and pendingTime != ''"> and pending_time = #{pendingTime}</if>
            <if test="autoResponseFlag != null "> and auto_response_flag = #{autoResponseFlag}</if>
            <if test="autoResponse != null  and autoResponse != ''"> and auto_response = #{autoResponse}</if>
            <if test="applyToHistoryMailFlag != null "> and apply_to_history_mail_flag = #{applyToHistoryMailFlag}</if>
            <if test="applyToHistoryMailTrueType != null "> and apply_to_history_mail_true_type = #{applyToHistoryMailTrueType}</if>
            <if test="executeTaskId != null "> and execute_task_id = #{executeTaskId}</if>
            <if test="otherSendingRules != null "> and other_sending_rules = #{otherSendingRules}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="selectTransceiverRuleById" parameterType="Long" resultMap="TransceiverRuleResult">
        <include refid="selectTransceiverRuleVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="getById" resultType="com.ruoyi.email.domain.vo.TransceiverRuleVO">
        select id, rule_type as ruleType, rule_name as ruleName, execute_condition as executeCondition, execute_condition_content as executeConditionContent, execute_operation as executeOperation, fixed_flag as fixedFlag, read_flag as readFlag, label_flag as labelFlag, label_id as labelId, folder_flag as folderFlag, folder_id as folderId, forward_to_flag as forwardToFlag, forward_to as forwardTo, pending_flag as pendingFlag, pending_type as pendingType, pending_day as pendingDay, pending_time as pendingTime, auto_response_flag as autoResponseFlag, auto_response as autoResponse, apply_to_history_mail_flag as applyToHistoryMailFlag, apply_to_history_mail_true_type as applyToHistoryMailTrueType, execute_task_id as executeTaskId, other_sending_rules as otherSendingRules, status, order_num as orderNum from mailbox_transceiver_rule
        where id = #{id} and create_id = #{createId} and del_flag = '0'
    </select>

    <select id="list" resultType="com.ruoyi.email.domain.vo.TransceiverRuleVO">
        SELECT
            tr.id,
            tr.rule_type AS ruleType,
            tr.rule_name AS ruleName,
            tr.execute_condition AS executeCondition,
            tr.execute_condition_content AS executeConditionContent,
            tr.execute_operation AS executeOperation,
            tr.fixed_flag AS fixedFlag,
            tr.read_flag AS readFlag,
            tr.label_flag AS labelFlag,
            tr.label_id AS labelId,
            tr.folder_flag AS folderFlag,
            tr.folder_id AS folderId,
            f.NAME AS folderName,
            tr.forward_to_flag as forwardToFlag,
            tr.forward_to AS forwardTo,
            tr.pending_flag AS pendingFlag,
            tr.pending_type AS pendingType,
            tr.pending_day AS pendingDay,
            tr.pending_time AS pendingTime,
            tr.auto_response_flag AS autoResponseFlag,
            tr.auto_response AS autoResponse,
            tr.apply_to_history_mail_flag AS applyToHistoryMailFlag,
            tr.apply_to_history_mail_true_type AS applyToHistoryMailTrueType,
            tr.execute_task_id AS executeTaskId,
            tr.other_sending_rules AS otherSendingRules,
            tr.status
        FROM
            mailbox_transceiver_rule tr
            LEFT JOIN mailbox_folder f ON f.id = tr.folder_id
        WHERE
            tr.create_id = #{createId} and tr.del_flag = '0'
    </select>

    <select id="getPacketNameByPacketId" resultType="java.lang.String">
        select name from customer_packet where id = #{packetId} and create_id = #{createId} and del_flag = '0'
    </select>

    <insert id="insertTransceiverRule" parameterType="TransceiverRule" useGeneratedKeys="true" keyProperty="id">
        insert into mailbox_transceiver_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleType != null">rule_type,</if>
            <if test="ruleName != null and ruleName != ''">rule_name,</if>
            <if test="executeCondition != null">execute_condition,</if>
            <if test="executeConditionContent != null and executeConditionContent != ''">execute_condition_content,</if>
            <if test="executeOperation != null">execute_operation,</if>
            <if test="fixedFlag != null">fixed_flag,</if>
            <if test="readFlag != null">read_flag,</if>
            <if test="labelFlag != null">label_flag,</if>
            <if test="labelId != null">label_id,</if>
            <if test="folderFlag != null">folder_flag,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="forwardToFlag != null">forward_to_flag,</if>
            <if test="forwardTo != null">forward_to,</if>
            <if test="pendingFlag != null">pending_flag,</if>
            <if test="pendingType != null">pending_type,</if>
            <if test="pendingDay != null">pending_day,</if>
            <if test="pendingTime != null">pending_time,</if>
            <if test="autoResponseFlag != null">auto_response_flag,</if>
            <if test="autoResponse != null">auto_response,</if>
            <if test="applyToHistoryMailFlag != null">apply_to_history_mail_flag,</if>
            <if test="applyToHistoryMailTrueType != null">apply_to_history_mail_true_type,</if>
            <if test="executeTaskId != null">execute_task_id,</if>
            <if test="otherSendingRules != null">other_sending_rules,</if>
            <if test="status != null">status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleType != null">#{ruleType},</if>
            <if test="ruleName != null and ruleName != ''">#{ruleName},</if>
            <if test="executeCondition != null">#{executeCondition},</if>
            <if test="executeConditionContent != null and executeConditionContent != ''">#{executeConditionContent},</if>
            <if test="executeOperation != null">#{executeOperation},</if>
            <if test="fixedFlag != null">#{fixedFlag},</if>
            <if test="readFlag != null">#{readFlag},</if>
            <if test="labelFlag != null">#{labelFlag},</if>
            <if test="labelId != null">#{labelId},</if>
            <if test="folderFlag != null">#{folderFlag},</if>
            <if test="folderId != null">#{folderId},</if>
            <if test="forwardToFlag != null">#{forwardToFlag},</if>
            <if test="forwardTo != null">#{forwardTo},</if>
            <if test="pendingFlag != null">#{pendingFlag},</if>
            <if test="pendingType != null">#{pendingType},</if>
            <if test="pendingDay != null">#{pendingDay},</if>
            <if test="pendingTime != null">#{pendingTime},</if>
            <if test="autoResponseFlag != null">#{autoResponseFlag},</if>
            <if test="autoResponse != null">#{autoResponse},</if>
            <if test="applyToHistoryMailFlag != null">#{applyToHistoryMailFlag},</if>
            <if test="applyToHistoryMailTrueType != null">#{applyToHistoryMailTrueType},</if>
            <if test="executeTaskId != null">#{executeTaskId},</if>
            <if test="otherSendingRules != null">#{otherSendingRules},</if>
            <if test="status != null">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTransceiverRule" parameterType="TransceiverRule">
        update mailbox_transceiver_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleType != null">rule_type = #{ruleType},</if>
            <if test="ruleName != null and ruleName != ''">rule_name = #{ruleName},</if>
            <if test="executeCondition != null">execute_condition = #{executeCondition},</if>
            <if test="executeConditionContent != null and executeConditionContent != ''">execute_condition_content = #{executeConditionContent},</if>
            <if test="executeOperation != null">execute_operation = #{executeOperation},</if>
            <if test="fixedFlag != null">fixed_flag = #{fixedFlag},</if>
            <if test="readFlag != null">read_flag = #{readFlag},</if>
            <if test="labelFlag != null">label_flag = #{labelFlag},</if>
            <if test="labelId != null">label_id = #{labelId},</if>
            <if test="folderFlag != null">folder_flag = #{folderFlag},</if>
            <if test="folderId != null">folder_id = #{folderId},</if>
            <if test="forwardToFlag != null">forward_to_flag = #{forwardToFlag},</if>
            <if test="forwardTo != null">forward_to = #{forwardTo},</if>
            <if test="pendingFlag != null">pending_flag = #{pendingFlag},</if>
            <if test="pendingType != null">pending_type = #{pendingType},</if>
            <if test="pendingDay != null">pending_day = #{pendingDay},</if>
            <if test="pendingTime != null">pending_time = #{pendingTime},</if>
            <if test="autoResponseFlag != null">auto_response_flag = #{autoResponseFlag},</if>
            <if test="autoResponse != null">auto_response = #{autoResponse},</if>
            <if test="applyToHistoryMailFlag != null">apply_to_history_mail_flag = #{applyToHistoryMailFlag},</if>
            <if test="applyToHistoryMailTrueType != null">apply_to_history_mail_true_type = #{applyToHistoryMailTrueType},</if>
            <if test="executeTaskId != null">execute_task_id = #{executeTaskId},</if>
            <if test="otherSendingRules != null">other_sending_rules = #{otherSendingRules},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteTransceiverRuleById">
        update mailbox_transceiver_rule set del_flag = '2', update_id = #{updateId}, update_by = #{updateBy}, update_time = NOW() where id = #{id}
    </update>

    <delete id="deleteTransceiverRuleByIds" parameterType="String">
        delete from mailbox_transceiver_rule where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>